
try
  /system-property=aws.accessKeyId:remove
catch
end-try

try
  /system-property=aws.secretKey:remove
catch
end-try

try
  /system-property=aws.Environment:remove
catch
end-try

try
    /subsystem=logging/root-logger=ROOT:remove-handler(name=FILE)
    /subsystem=logging/root-logger=ROOT:remove-handler(name=GFCP)
    /subsystem=logging/custom-handler=GFCP:remove
catch
end-try

try
  data-source remove --name=ExampleDS
catch
end-try

try
  /subsystem=datasources/jdbc-driver=h2:remove
catch
end-try

try
  data-source remove --name=GenfareCloudDS
catch
end-try

try
  /subsystem=datasources/jdbc-driver=mysql:remove
catch
end-try

/subsystem=datasources/jdbc-driver=mysql:add(driver-name=mysql,driver-module-name=com.mysql,driver-class-name=com.mysql.jdbc.Driver,driver-xa-datasource-class-name=com.mysql.jdbc.jdbc2.optional.MysqlXADataSource)

data-source add --name=GenfareCloudDS \
                --jndi-name=java:jboss/datasources/GenfareCloudDS \
                --driver-name=mysql \
                --connection-url=<%= scope.lookupvar('jbossnodeconfig::rds_jdbc') %> \
                --min-pool-size=2 \
                --max-pool-size=10 \
                --enabled=false \
                --user-name=<%= scope.lookupvar('jbossnodeconfig::rds_user') %> \
                --password=<%= scope.lookupvar('jbossnodeconfig::rds_pass') %> \
                --valid-connection-checker-class-name=org.jboss.jca.adapters.jdbc.extensions.mysql.MySQLValidConnectionChecker \
                --exception-sorter-class-name=org.jboss.jca.adapters.jdbc.extensions.mysql.MySQLExceptionSorter

data-source enable --name=GenfareCloudDS

#/subsystem=modcluster/mod-cluster-config=configuration:write-attribute(name=proxy-list,value="<%= scope.lookupvar('jbossnodeconfig::cluster_list') %>")
#/subsystem=modcluster/mod-cluster-config=configuration:write-attribute(name=balancer,value="<%= scope.lookupvar('jbossnodeconfig::cluster_name') %>")
#/subsystem=modcluster/mod-cluster-config=configuration:write-attribute(name=connector,value="http")
#/subsystem=web:write-attribute(name=instance-id,value="<%= scope.lookupvar('jbossnodeconfig::cluster_instanceid') %>")

/subsystem=web/virtual-server=default-host:write-attribute(name=enable-welcome-root, value=false)

/system-property=aws.accessKeyId:add(value=<%= scope.lookupvar('jbossnodeconfig::aws_accessKeyId') %>)
/system-property=aws.secretKey:add(value=<%= scope.lookupvar('jbossnodeconfig::aws_secretKey') %>)
/system-property=aws.Environment:add(value=<%= scope.lookupvar('jbossnodeconfig::aws_Environment') %>)

/subsystem=logging/custom-handler=GFCP:add(class=org.jboss.logmanager.handlers.PeriodicSizeRotatingFileHandler, \
                                              module=org.jboss.logmanager, \
                                              formatter="%d{HH:mm:ss,SSS} %-5p [%c] (%t) %s%E%n", \
                                              properties={rotateSize=2024000, \
                                                          maxBackupIndex=5, \
                                                          suffix=".yyyy-MM-dd", \
                                                          fileName="${jboss.server.log.dir}/gfcp.log" })
/subsystem=logging/root-logger=ROOT:add-handler(name=GFCP)

reload
