<% @options.sort.map do |k,v| -%>
<%   if v.is_a?(Hash) -%>
[<%=   k %>]
<%     v.sort.map do |ki, vi| -%>
<<<<<<< HEAD
<%       if vi == true or v == '' -%>
=======
<%       if ki == 'ssl-disable' or (ki =~ /^ssl/ and v['ssl-disable'] == true) -%>
<%         next %>
<%       elsif vi == true or v == '' -%>
>>>>>>> dbd03dc818434c4dc123b989d62fa9a1d1669303
<%=        ki %>
<%       elsif vi.is_a?(Array) -%>
<%         vi.each do |vii| -%>
<%=          ki %> = <%= vii %>
<%         end -%>
<%       elsif vi != :undef -%>
<%=        ki %> = <%= vi %>
<%       end -%>
<%     end -%>
<%   end %>
<% end -%>

!includedir /etc/mysql/conf.d/
